body {
    font-family: "Segoe UI", Arial, sans-serif;
    background-color: #f8f8f8;
}

body,
html {
    height: 100%;
}

a {
    color: black;
    text-decoration: none;
    font-size: 18pt;
    margin: 1em;
}

#mainTitle {
    font-size: 22pt;
    font-weight: bold;
    text-align: center;
    color: #9c27b0;
    margin: 1em;
    margin-bottom: 0;
}

#myTopNav {
    text-align: center;
    display: flex;
    justify-content: center;
}

#myTopNav div {
    display: grid;
}

button.topNavButton {
    background-color: #3e00d4c7;
    font-size: 22px;
    color: white;
    border: 1px solid white;
    cursor: pointer;
    /* margin: auto; */
    padding: 0.5em;
    font-weight: 700;
    border-radius: 0.3em;
}

button.topNavButton:hover {
    background-color: #3e00d487;
}

input.removeSite {
    text-align: left;
    border: 0;
    left: 0;
    background-color: transparent;
    font-size: 22px;
    font-weight: bold;
    justify-content: left;
    padding: 0;
    cursor: pointer;
    /* margin: auto; */
    float: left;
}

input.siteNameButton {
    border: 0;
    background: transparent;
    font-size: 24px;
    margin: 0 1em 0 0;
    font-weight: 500;
    color: #3e00d4a3;
    cursor: pointer;
}

input.siteNameButton:hover,
input.siteNameButton.selected {
    color: #3e00d4de;
    font-weight: bold;
}

.footer {
    font-size: 1.1rem;
    box-sizing: inherit;
    margin: 0;
    display: flex;
    padding: 1em;
    justify-content: center;
}

header {
    text-align: center;
    font-size: 35px;
    font-weight: bolder;
}

#articleSite {
    padding: 0.5em;
    height: 100%;
    font-size: 24px;
}

#imagesSite {
    margin: 0 auto;
    display: flex;
    gap: 1em;
    overflow-x: auto;
    margin-top: 2em;
}

#siteIframe {
    margin-top: 1em;
    border: 0;
    width: 100%;
    height: inherit;
}


/* add site frame*/

#addSite {
    display: none;
}

.my-animate-opacity {
    animation: opac 0.8s;
}

.my-modal {
    z-index: 3;
    display: none;
    padding-top: 100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0 0 0 / 56%);
}

@media (min-width: 993px) {
    .my-modal-content {
        width: 900px;
    }
}

.my-modal-content {
    margin: auto;
    background-color: #fff;
    position: relative;
    padding: 0;
    outline: 0;
    width: 600px;
}

.my-white,
.my-hover-white:hover {
    color: #000!important;
    background-color: #fff!important;
}

.my-wide {
    letter-spacing: 4px;
}

.my-container,
.my-panel {
    padding: 0.01em 16px;
}

.fa {
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    font-size: 30px !important;
    float: right;
    color: inherit;
    background-color: inherit;
    cursor: pointer;
    white-space: nowrap;
}

.my-border {
    border: 1px solid #ccc!important;
}

.my-input {
    padding: 8px;
    display: block;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%;
}

#image {
    border-bottom: none;
}

.my-button:hover {
    background-color: #3e00d487!important;
}

p.requiredInput.fa.fa-warning {
    font-size: 14pt!important;
    float: left;
    margin: 0.5em;
    /* padding: 0; */
    color: red;
}

p.inputP {
    margin-bottom: 0;
}

.my-red,
.my-hover-red:hover {
    cursor: pointer;
    color: #fff!important;
    background-color: #3e00d49e!important;
    border: transparent;
}

.my-padding-large {
    padding: 12px 24px!important;
}


/* .my-margin-bottom {
    margin-bottom: 16px!important;
} */

.my-block {
    display: block;
    width: 100%;
}

input {
    display: block;
}